/* Custom user styles for Instagram.com by Connor Sears
======================================================= */

/* Change the color of the page background to be dark. Provides more contrast for the photos. */
body.timelineFeedPage {
background: #252525;
}
div.timelineCenter {
background: #252525;
border: 0;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
}

.main {background-color: #252525;}

/* Makes the text readable on the new dark background. */
.timelineBookmarkInfoTimestamp,
.timelineBookmarkLocation,
.timelineBookmarkInfoUsername, 
.timelineBookmarkInfoUsername a, 
.timelineBookmarkInfoUsername a:link, 
.timelineBookmarkInfoUsername a:visited {
  color: #999 !important;
  text-shadow: 0 -1px 0 #000;
}
/* Make the shadow on photos black. */
div.timelinePhoto {
  -webkit-box-shadow: 0 0 15px #000;
     -moz-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
}

/* Misc
====================================================== */
div.timelinePhoto::after {
  box-shadow: 0;
  border-color: #000;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
} 
div.timelinePhoto, div.timelinePhoto .imgImg, div.timelinePhoto::after {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
div.timelineCard {
  background: #fafafa;
  border: 1px solid #000;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.timelinePhoto::after {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}            
div.timelineTopPaginate {
  background-color: rgba(0, 0, 0, 0.70);
  text-shadow: 0 -1px 0 #000;
  color: #fff;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
}
div.timelineBookmarkAvatar .imgImg, div.timelineCommentAvatar .imgImg, div.timelinePhoto .imgImg {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.timelineDividerText { 
  background: #222; 
  text-shadow: 0 -1px 0 #000;
}
.timelineDividerLine {
  border-top: 1px solid #333;
}
